
    
    @media (min-width: 768px) {
        .gradient-form {
        height: 100vh !important;
        }
    }
    @media (min-width: 769px) {
        .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
        }
    }

.gradient-custom-1 {

    background: #7e40f6;
    
    background: -webkit-linear-gradient(
        to right,
        rgba(126, 64, 246, 1),
        rgba(80, 139, 252, 1)
    );
    

    background: linear-gradient(
        to right,
        rgba(126, 64, 246, 1),
        rgba(80, 139, 252, 1)
    );
}

.gradient-custom-2 {

    background: #fccb90;
    

    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}
    


.screen-height {
    min-height: calc(100vh - 57px);  
    max-height: fit-content;
}

.scrollbar-y {

    overflow-y: scroll;

}

.table-height {
    max-height: 400px;
}

.table-container {
    max-width: fit-content;
    max-height: fit-content;
    height: fit-content;
}

.card-border {
    border-radius: 15px;
}

