body {
    font-family: Arial, sans-serif;
    padding: 0;
    width: 70%;
    margin: auto;
}

main {
    display: flex;
}

/* Inicio Barra de Navegación */

/* Inicio Barra superior */
.search-bar {
 font-weight: bold;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    margin: auto;
}

#logo {
    font-size: x-large;
    font-weight: bold;
    padding: 0;
    margin: 10px 0;
}
/* Fin Barra superior */



/* Inicio Barra Inferior */
nav {
    background-color: #db4949;
    color: white;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content:space-evenly;
    display: flex;
}

nav a {
    color: white;
    text-decoration: none;
}
/* Fin Barra de Navegación */


/* Inicio Columna izquierda */
.left-column {
    width: 20%;
    padding: 0;
}

/* Inicio Sección de noticias */
.news-list {
    background-color: rgb(238, 238, 238);
    margin-top: 10px;
    margin-left: 1px;
    margin-right: 2px;
    padding-bottom: 10px;
    outline: solid 2px lightgray;
    
}

.news-list h3{
    margin: 0px;
    padding: 10px;
    font-size: 16px;
}

.news-list ul {
    list-style-type: none;
    margin: 0;
    padding: 0 10px;
}

.news-list ul li h4{
    font-weight: bold;
    color: darkcyan;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.news-list ul li p{
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: gray;
}

.news-list ul li hr{
    color: gray;
}

/* Fin Sección de noticias */

/* Inicio Sección de anuncios */
.ad {
    background-color:wheat;
    outline: dashed 3px orange;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 3px;
    margin-right: 3px;
    font-size: 18px;
}

.ad h3 {
    color: orange;
    font-size: 20px;
    margin: 2px;
}

a {
    color: rgb(180, 136, 25);
    font-size: 18px;
    font-weight:bold;

    text-decoration: none;
}
/* Fin Sección de anuncios */



/* Inicio Sección de artículos */
.main-content {
    width: 62%;
    margin-left: 20px;
    margin-right: 15px;
    margin-top: 10px;
}

article {
    margin-bottom: 20px;
  }

article h2 {
    color: orange;
    font-size: 30px;
    margin: 0;

}

.article-image {
    margin-right: 20px;
  }

.article-content {
    display: flex;
    align-items: flex-start;
  }

.article-image img {
    margin-top: 10px;
    margin-bottom: 10px;
 width: 220px;
 height: 220px;
}

.article-text {
    display: flex;
    flex-direction: column;
  }

article p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
}

/* Fin Sección de artículos */



/* Inicio Sección de columna derecha */
.right-column {
    width: 18%;
    border: solid 3px mediumturquoise;
    margin-top: 10px;
    margin-left: 2px;
    margin-right: 0px;
    margin-bottom: 20px;
    padding: 0px 10px 10px 10px;
    font-size: 16px;

}

.right-column div h3{

    background-color:mediumturquoise;
    color: white;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;

}

.right-column div p{
    margin: 0;
    padding-right: 20px;
    font-size: 18px;
    padding-bottom: 10px;
}
/* Fin Sección de columna derecha */

/* Inicio pie de página */
footer {
    background-color: lightgray;
    color: black;
    height: auto;
    display: flex;
    justify-content:space-between;

}

footer ul {
    list-style-type: none;
    padding-left: 10px;
    padding-right: 10px;
}

footer ul li{
    margin: 5px;
    width: 200px;
    padding: 7px;
    background-color: rgb(187, 187, 187);
}

footer p{
    margin: auto;
    float: right;
    display: flex;
}

footer a {
    color: black;
    text-decoration: none;
    font-weight: normal;
}
/* Fin pie de página */
