
.house{
    margin: 10px;
}
.roof {
    width: 0;
    height: 0;
    border-right: solid 150px transparent;
    border-bottom: solid 150px orangered;
    border-left: solid 150px transparent;
    
}

.wall {
    width: 300px;
    height: 220px;background-color:antiquewhite;
    position: absolute;
}

.window01{
    top: 20px;
    left: 30px;
    width: 50px;
    height: 50px;
    background-color:lightblue;
    position: relative;
    
}

.window02{
    top: -30px;
    right: 30px;

    float: right;

    width: 50px;
    height: 50px;
    background-color:lightblue;
    position: relative;
    
}

.door {
    top: 60px;
    width: 60px;
    height: 100px;
    
    position: relative;
    margin: auto;
    border: solid 5px orangered;
    background-color: orange;
    border-radius: 30px 30px 0px 0px;
    z-index: 1;
}

.chimney {
    top: 70px;
    left: 70px;
    width: 50px;
    height: 70px;
    background-color: brown;
    position: absolute;
    z-index: 1;
    
}

.decor {
    position: relative;
    top: 20px;
    margin: auto;
    height: 40px;
    background-color: rgb(163, 163, 163);
}

.grass {
    height: 10px;
    width: 350px;
    top: 380px;
    left: 0px;
    background-color: green;
    z-index: -1;
    position: absolute;
}

footer{
    top: 220px;
    position: relative;
}