/* Selectores de tipo */

body{
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 42px;
}

div {
    padding-bottom: 15px;
    font-size: 21px;
}
p {
    font-size: 21px;
}

img {
    width: 100%;
    height: auto;
    border-bottom: 5px solid red;

}

/* Selectores de clase */

.subrayado-rojo{
    text-decoration-line: underline;
    text-decoration-color: red;
}

.letra-gris{
    color: gray;
}

.cursiva{
    font-style: italic;
}

.negritas{
    font-weight: bold;
}

/* Selectores de ID */

#breadcrumbs{
    color: red;
    font-size: 20px;
}