/* ------------------------------------------------------------ */
/* Cabecera de página */
.header{
    height: 60px;
    width: 75%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(36,1fr);
    grid-template-rows: repeat(4,1fr);
}

.red-circle{
    grid-column: 2/3;
    grid-row: 2/4;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: rgb(231, 53, 85);
    margin: 5px;
}

.yellow-circle{
    grid-column: 3/4;
    grid-row: 2/4;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: rgb(253, 203, 46);
    margin: 5px;
}

.green-circle{
    grid-column: 4/5;
    grid-row: 2/4;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: rgb(73, 174, 71);
    margin: 5px;
}

.pale{
    grid-column: 1/37;
    grid-row: 1/5;
    background-color: rgb(229, 238, 245);
}

/* ------------------------------------------------------------ */
/* Contenedor principal */
.container-main{
    background-color:white;
    height: 800px;
    width: 75%;
    gap: 10px;

    margin: auto;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(24,1fr);
    grid-template-rows: repeat(16,1fr);
}


/* ------------------------------------------------------------ */
/* Elementos del contenedor 1 */
.purple-1 {
    grid-column: 1/20;
    grid-row: 1/8;
    background-color: rgb(141, 67, 180);
    
}
.blue-1 {
    grid-column: 20/25;
    grid-row: 1/17;
    background-color: rgb(65, 166, 236);
}
.red-1{
    grid-column: 1/5;
    grid-row: 8/12;
    background-color: rgb(232, 78, 52);
    
}
.green-1{
    grid-column: 5/20;
    grid-row: 8/12;
    background-color: rgb(42, 166, 80);
}

.pink-1{
    grid-column: 1/10;
    grid-row: 12/17;
    background-color: rgb(172, 133, 180);
}

.orange-1{
    grid-column: 10/20;
    grid-row: 12/17;
    background-color: rgb(249, 153, 41);
}


/* ------------------------------------------------------------ */
/* Elementos del contenedor 2 */

.red-2{
    grid-column: 1/10;
    grid-row: 1/17;
    background-color: rgb(232, 78, 52);
    
}

.purple-2 {
    grid-column: 10/23;
    grid-row: 1/7;
    background-color: rgb(141, 67, 180);
    
}
.green-2-a {
    grid-column: 23/25;
    grid-row: 1/17;
    background-color: rgb(42, 166, 80);

}

.green-2-b {
    grid-column: 10/14;
    grid-row: 7/14;
    background-color: rgb(42, 166, 80);
}

.blue-2{
    grid-column: 14/23;
    grid-row: 7/10;
    background-color: rgb(65, 166, 236);
}

.pink-2{
    grid-column: 14/23;
    grid-row: 10/14;
    background-color: rgb(172, 133, 180);
}

.orange-2{
    grid-column: 10/23;
    grid-row: 14/17;
    background-color: rgb(249, 153, 41);

}

/* ------------------------------------------------------------ */
/* Elementos del contenedor 3 */

.purple-3 {
    grid-column: 1/23;
    grid-row: 1/3;
    background-color: rgb(141, 67, 180);
}

.orange-3-a {
    grid-column: 1/5;
    grid-row: 3/17;
    background-color: rgb(249, 153, 41);
}

.green-3{
    grid-column: 5/23;
    grid-row: 3/6;
    background-color: rgb(42, 166, 80);

}

.orange-3-b {
    grid-column: 23/25;
    grid-row: 1/17;
    background-color: rgb(249, 153, 41);
}


.blue-3-a{
    grid-column: 5/14;
    grid-row: 6/11;
    background-color: rgb(65, 166, 236);
}

.blue-3-b{
    grid-column: 14/23;
    grid-row: 6/11;
    background-color: rgb(65, 166, 236);
}

.red-3-a{
    grid-column: 11/17;
    grid-row: 11/14;
    background-color: rgb(232, 78, 52);
    
}

.red-3-b{
    grid-column: 11/17;
    grid-row: 14/17;
    background-color: rgb(232, 78, 52);
    
}

.pink-3-a{
    grid-column: 5/8;
    grid-row: 11/14;
    background-color: rgb(172, 133, 180);
}

.pink-3-b{
    grid-column: 8/11;
    grid-row: 11/14;
    background-color: rgb(172, 133, 180);
}

.pink-3-c{
    grid-column: 17/20;
    grid-row: 11/14;
    background-color: rgb(172, 133, 180);
}

.pink-3-d{
    grid-column: 20/23;
    grid-row: 11/14;
    background-color: rgb(172, 133, 180);
}

.pink-3-e{
    grid-column: 5/8;
    grid-row: 14/17;
    background-color: rgb(172, 133, 180);
}

.pink-3-f{
    grid-column: 8/11;
    grid-row: 14/17;
    background-color: rgb(172, 133, 180);
}

.pink-3-g{
    grid-column: 17/20;
    grid-row: 14/17;
    background-color: rgb(172, 133, 180);
}

.pink-3-h{
    grid-column: 20/23;
    grid-row: 14/17;
    background-color: rgb(172, 133, 180);
}









