/* Estilos generales */

body {
    font-family: "Montserrat", sans-serif;
}

header {
    width: 100%;
    height: auto;
    text-align: center;
    color: darkblue;
}

section {
    width: 50%;
    margin: auto;
}

p {
    margin: 0px;
}


/* Espacios en blanco de la tabla periódica*/
.transparente {
    background-color: transparent;
}
.transparente:hover{
    background-color: transparent;
}

/* Colores de fondo */

.rojo {
    background-color: crimson; 
}

.naranja {
    background-color:orange;
}

.verde {
    background-color: darkseagreen;
}

.menta{ 
    background-color:mediumaquamarine;
} 

.rosa{
    background-color: lightpink;
}

.azul-cielo{
    background-color: lightskyblue;
}

.azul{
    background-color:dodgerblue;
}

.amarillo{
    background-color: gold;
}

.gris{
    background-color: lightgray;
}

.morado{
    background-color:rgb(201, 152, 241);
}

/* Texto de cada elemento */
.letra{
 font-size:xx-large;
}

.nombre{
    font-size: xx-small;
    margin-inline-end: 5%;
}
.numero{
    text-align: right;
    margin-right: 10%;
}

/* Propiedades de la tabla */
table {
    width: 50%;
    margin: auto;
}

/* Estilo para cada elemento */
td:hover{
    background-color: rgb(70, 0, 128);
}

/* Viculo y su texto dentro de cada celda de la tabla */ 
td a {
    padding: 2px;
    font-weight: bold;
    color: white;  
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
}

td a:link {
    text-decoration: none;
    
}

td a:visited {
    color: white;  
}

#titulos{
    color:white;
    font-weight: bold;
    margin: auto;
    text-align: center;
    margin-top: 20px;
}


#titulos td:hover{
    background-color: initial;
    color: black;
}